<html>
    <head>
        <style type="text/css">
            .xxx {
                background-color: red;
                width: 100px;
                height: 100px;
            }
        </style>

        <script src="./assets/lib/jquery.min.js"></script>
        <script src="./assets/lib/jquery.easyui.min.js"></script>
        <script src="./assets/lib/easyloader.js"></script>
    </head>
    <body>
        <div class="aa">
            wha
        </div>

        <div class="p">
            good
            <div class="c">
                hehe
            </div>
        </div>
    </body>
</html>